*{
	font-family:Microsoft YaHei;
}
body{
	padding-top: 70px;
}
/*伪元素   匹配突出显示的文本*/
::selection {
	background:#00B200;
	color:#fff;
}
/*返回到顶部*/
#goTop {
    background: url(../images/page_top_bg.png) no-repeat;
    width: 80px;
    height: 80px;
    right: 10px;
    bottom: 20px;
    position: fixed;/*他固定的对像是可视窗口而并非是body或是父级元素。可通过z-index进行层次分级*/
    z-index:1;
	overflow: hidden;
	cursor:pointer;
	display:none;/*刚开始不显示*/
}
#goTop:hover{
	background-position:0 -91px;
}
/*自定义的图片类*/
.pic{/*position: absolute;*//*height: 340px;width: 300px;*/overflow: hidden;}
.pic>img{width:100%;display: block;height: 100%;transition: transform .4s;}
.pic>img:hover{transform: scale(1.5);}
.pic>p{background:#000;opacity: .5;position: relative;bottom:20px;margin: 0;color: #fff;}

/*导航栏Logo*/
.navbar-brand{
	color: #fff;
    font-weight: 900;
    font-size: 30px!important;
	text-shadow: 5px 2px 6px rgba(0, 0, 0, 0.26);
}
.navbar-brand:hover{
	color: #fff;
	text-shadow: 5px 2px 6px rgba(0, 0, 0, 0.4);
	transition:text-shadow 0.2s;
	-moz-transition:text-shadow 0.2s;
	-webkit-transition:text-shadow 0.2s;
	-o-transition:text-shadow 0.2s;
}
/*导航栏右侧导航菜单*/
.nav >li>a{
	font-size:18px;
	color:#fff;
	font-weight:500;
	transition:all 0.2s;
	-moz-transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-o-transition:all 0.2s;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: #00B200!important;
    /*border-radius: 10%;*/
	color:#fff;
	text-shadow: 5px 2px 6px rgba(0, 0, 0, 0.26);
	/*border-top: 2px solid #fff;*/
}

.dropmenu{
	min-width: 100%!important;
	background-color: rgba(255, 255, 255, 0)!important;
	border: 1px solid #00B200!important;
	text-align:right;
}
.dropmenu>li>a{
	color:#fff!important;
}
.dropmenu>li>a:hover{
	background-color:#00B200!important;
	text-shadow: 5px 2px 6px rgba(0, 0, 0, 0.26);
}
.dropdown-toggle:focus{
	background-color: #00B200!important;
}
.divider{
	background-color: rgba(45, 154, 0, 0.24)!important;
}
.icon-bar{
	background: #fff;
}
.navbar-toggle{
	border: 1px solid #2ED446!important;
}
.navbar-toggle:hover{
	background: rgba(208, 200, 200, 0.9);
	transition:background 0.2s;
	-moz-transition:background 0.2s;
	-webkit-transition:background 0.2s;
	-o-transition:background 0.2s;
}
.intro-header{
	padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-top: -70px!important;
}
.navbar-fixed-top{
    z-index:999;
	position: absolute!important;
	text-align: right;
}
.intro-message-h4{
	padding-top:30px;
}
.intro-message{
	padding-bottom:30px;
}
/*内容开始*/

/*首页按钮*/
.btn-custom{
	border:1px #058E05 solid;
	border-radius:6px;
	background:none;
	color:#fff;
	width:160px;
	height:50px;
	line-height: 50px;
	display: block!important;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
	text-shadow: 5px 2px 6px rgba(0, 0, 0, 0.26);
	cursor:pointer;
}
.btn-custom:hover{
	border:1px #058E05 solid;
	background-color:#00B200;
	color:#fff;
	text-decoration:none;
	transition:background-color 0.4s;
	-moz-transition:background-color 0.4s;
	-webkit-transition:background-color 0.4s;
	-o-transition:background-color 0.4s;
}
/*正文标题*/
.text-h1{
	margin-top:50px;
	margin-bottom:50px;
}
.img-bg1,.img-bg1>.pic{
	height:300px;
}
.col-hr{
	border-bottom:1px solid #008C00;
	margin:50px 0;
}
.img-mingsheng>.pic{
	height:248px;
}
.span-text{
	color:#333;
	text-align: center;
    display: block;
    margin: 10px 0;
}
.img-mingsheng-zilaiqiao{
	margin:40px 0 30px 0;
	text-align:center;
}
.img-ms>.pic{
	height:350px;
}
.text-right{
	margin-top: 20px;
}
.img-radius img{
	border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;	
}
/*名人故事h2*/
.text-mr-center{
	text-align:center;
	margin-bottom:70px;
}
.mess-text{
	margin-top: 25px;
}
.footer{
	margin-top:100px;
}


/*图片*/
.picture {
    float: left;
    width: 100%;
    display: block;
    padding:0 2.5px;      
    box-sizing: border-box;
}
.picture ul{
	padding: 2.5px
}
.picture ul li{
    overflow: hidden;
    padding-bottom: 5px;
}
/*触碰鼠标*/
.cp_pic{position:relative;overflow: hidden;float: left;}
.cp_pic>img{width: 100%;height: 100%; transition: all 500ms ease-in-out;}
.cp_pic>a{
    display:block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    font-size: 14px;
    text-decoration:none;
    font-family: '微软雅黑';
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    background-color: #000;
    transition: all .2s ease-out;
}
.cp_pic>a>p{position:absolute;top:0;left: 0;right: 0;margin:0 auto;}
.cp_pic>a>p{transition: all .3s ease-out;padding:0 10px;}
.cp_pic:hover p{top:50%;}
.cp_pic:hover a{opacity: .6;}
.cp_pic:hover img{-webkit-transform: scale(1.5);}
/*媒体查询*/
@media(min-width:768px) and (max-width: 1000px){
	/*图片*/
    .picture ul:last-child{display: none;}
}
@media(max-width:768px){
	/*图片*/
    .picture ul:nth-child(3),.picture ul:nth-child(4){display: none;}
}

/*大图预览部分*/
#big_pic_brow_bg,#big_pic_brow{position:fixed;top:0;left:0;height:100%;width:100%;z-index:900;display:none;_position:absolute;
_top:expression(eval(document.documentElement.scrollTop));}
#big_pic_brow_bg{background:#000;opacity:0.7;}
#big_pic_brow table{height:100%;width:100%;}
#big_pic_brow tr{text-align:center;}
#big_pic_brow td{display:table-cell;vertical-align:middle;}
#big_pic_brow img{vertical-align:middle}
#big_pic_brow a{display: block;width: 54px;height: 46px;overflow: hidden;font: 24px/32px Tahoma;text-align: center;text-indent: 10px;background:url(../images/close.png) 0 0 no-repeat;color: #CCC;text-decoration:none;position:absolute;right:0;top:0;}
#big_pic_brow a:hover{text-decoration:none;color: #FFF;background-position:0 -49px;}
#big_pic_brow_src{max-width:70%;}